* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

h4 {
  text-transform: capitalize;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

img {
  width: 445px;
  height: 270px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.pagination_count {
  background: grey;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 20px;
}
.bg-active {
  background-color: black;
}
